/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.container{
  display: flex;
  gap: 2rem;
  width: 30vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: beige;
  color: black;
  align-items: center;
}